<ul class='d-flex flex-row justify-content-center flex-wrap p-0'>
    <li>
        <a href="https://www.facebook.com/pearlhackathon/" target="blank">
            <i class="fab fa-facebook-f"></i></a>
    </li>
    <li>
        <a href="https://twitter.com/PearlHacks" target="blank">
            <i class="fab fa-twitter"></i></a>
    </li>
    <li>
        <a href="mailto:questions@pearlhacks.com" target="blank">
            <i class="far fa-envelope"></i></a>
    </li>
    <li>
        <a href="https://www.instagram.com/pearlhacks/" target="blank">
            <i class="fab fa-instagram"></i></a>
    </li>
    <li>
        <a href="https://github.com/pearlhacks" target="blank">
            <i class="fab fa-github"></i></a>
    </li>
</ul>