<nav class="navbar navbar-expand-lg navbar-light col-lg-12 shadow">
    <a class='navbar-brand flex justify-content-center align-items-center flex-column d-lg-none' href='index.html' id='logo' >
        <img src="../assets/images/phlogo.svg" width="30" height="30" alt="PH Logo">
        <span><b>Pearl Hacks</b> Live</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <a href='index.html' id='logo' class='navbar-brand d-none d-lg-inline flex justify-content-center align-items-center flex-column'>
            <img src="../assets/images/phlogo.svg" width="30" height="30" alt="PH Logo">
            <span><b>Pearl Hacks</b> Live</span>
        </a>
        <ul class="navbar-nav justify-content-end mr-5">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Schedule
                </a>
                <div class="dropdown-menu shadow" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="schedule.html#eventschedule">Events</a>
                    <a class="dropdown-item" href="schedule.html#workshopschedule">Workshops</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Venue
                </a>
                <div class="dropdown-menu shadow" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="venue.html#parking">Cars & Parking</a>
                    <a class="dropdown-item" href="venue.html#bus">Buses</a>
                    <a class="dropdown-item" href="venue.html#rules">Venue Rules</a>
                    <a class="dropdown-item" href="venue.html#map">Venue Map</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Hacker Info
                </a>
                <div class="dropdown-menu shadow" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="hackers.html#help">Getting Help</a>
                    <a class="dropdown-item" href="hackers.html#demo">Demoing</a>
                    <a class="dropdown-item" href="hackers.html#faq">FAQ</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Admin Info
                </a>
                <div class="dropdown-menu shadow" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="admin.html#mentors">Mentors</a>
                    <a class="dropdown-item" href="admin.html#volunteers">Volunteers</a>
                    <a class="dropdown-item" href="admin.html#directors">Directors</a>
                </div>
            </li>
        </ul>
    </div>
</nav>