@charset "utf-8";


body{
    background-color: #414141;
    margin: 0;
    padding: 0;
    position: relative;
}

.main{
    margin:auto;
    display:block;
    width:100%;
    position:relative;
    text-align:center;
    
}

.footer {
    position: fixed;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:300;
    font-size:17px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7F7F7F;
    color: white;
    text-align: center;
    height: auto;
    line-height: 25px;
    padding-top: 15px;
    padding-bottom: 0px;
}

.crown{
    margin-top: 25px;
}

a, a:link, a:hover, a:focus{
    color:#D1A347;
}



