<nav class="navbar navbar-expand-lg navbar-light col-lg-12 bg-dark">
    <a class="navbar-brand d-lg-none" href="index.html">
        <img src="assets/images/phlogo.svg" width="30" height="30" alt="Pearl Hacks Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse d-lg-flex justify-content-lg-center" id="navbarNavDropdown">
        <ul
            class="p-0 navbar-nav d-lg-flex col-lg-8 justify-content-lg-around align-items-center align-items-lg-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Register
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="https://pearlhacks1.typeform.com/to/Elv0RM"
                        target="blank">Participants</a>
                    <a class="dropdown-item" href="https://pearlhacks1.typeform.com/to/Kj7GfG"
                        target="blank">Volunteers</a>
                    <a class="dropdown-item" href="https://pearlhacks1.typeform.com/to/eRroMd"
                        target="blank">Mentors</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="schedule.html">Schedule</a>
            </li>
            <a class="navbar-brand d-none d-lg-inline" id="ph_logo" href="index.html">
                <img src="assets/images/phlogo.svg" width="30" height="30" alt="PH Logo">
            </a>
            <li class="nav-item">
                <a class="nav-link" href="travel.html">Travel</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    More Info
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="about_us.html">About Us</a>
                    <a class="dropdown-item" href="faq.html">FAQ</a>
                </div>
            </li>
        </ul>
    </div>
</nav>